
body { 
  margin: 0; 
  overflow: hidden;
}
canvas {
    display: block; 
}

.dg.main {
  background-color: rgba(0, 0, 0, 0.3) !important; 
  color: #ffffff !important;
  font-family: "Righteous", sans-serif  !important;
  border: none !important;
  height: 200px;
}

.dg.main .cr {
  font-size: 12px !important; 
  background-color: rgba(217, 12, 12, 0);
  height: 25px !important;
  line-height: 25px !important;
  border: none !important;
  
}

.dg.main .close-button {
  display: none;
  background-color: transparent; 
  border: none; 
  cursor: pointer;
  align-items: center;
  bottom: 1px;
  justify-content: center;
}

.dg.main .close-button::before {
  content: '×'; 
  font-size: 14px; 
  color: #ff5a5a;
  transition: color 0.3s ease;
}

.dg.main .close-button:hover::before {
  color: white; 
}

.dg.main .c input[type="text"],
.dg.main .c input[type="number"] {
  background-color: rgba(255, 255, 255, 0.2) !important; 
  border: none; 
  color: #ffffff !important; 
  font-family: "Righteous", sans-serif !important; 
}

.dg.main {
  border: none; 

  transform: scale(1) !important;
  transform-origin: top right !important;
}

.dg.main .c label {
  border: none; 
  color: #ffffff !important; 
}


.html-marker {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 8px;
  cursor: pointer;
  height: 8px;
  border: black 0.5px solid;
  background-color: #ff5a5a;
  border-radius: 50%;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.html-marker:hover {
  background-color: #630070;
  border-color: #ffffff; 
}

.hidden {
  display: none;
}

.marker-content {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-family: "Righteous", sans-serif;
  text-align: center;
  white-space: nowrap;
  margin-top: -35px;
  margin-right: -75px; 
  margin-left: -70px; 
  font-family: 'Oswald', sans-serif;
  border-radius: 1px;
  background: #EFEFEF;
  border: 0.7px solid rgba(255, 90, 90, 0.4);
  box-shadow: 0 4px 12px rgba(255, 90, 90, 0.4);
}
.title {
  font-family: "Righteous", sans-serif;
  font-size: 55px;
  font-weight: 200;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(56, 56, 56, 0.6); 
  color: white;
  overflow: hidden;
  padding: 4px 10px 4px 10px;
  font-size: 25px;
  overflow-y: auto; 
  transform: translateX(-100%); 
  transition: transform 0.5s ease;
}

.popup-content {
  margin-bottom: 20px;
}

.description {
  font-size: 25px;
  line-height: 1.4; 
  margin: 20px;
  text-align: justify;
  font-family: "Sarabun", sans-serif;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%;
}

.title {
  font-size: 40px;
  margin-left: 25px;
  font-weight: bold;
  color: #ff5a5a;
  margin: 0;
}

.close-button {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-items: center;
  transition: all 0.3s ease;
}

.close-button .icon {
  color: #ff5a5a; 
  font-size: 64px;  
  transition: color 0.3s ease;
}

.close-button:hover .icon {
  color: white; 
}

.basecamp1 {
  align-self: center;  
  display: flex;
  margin: auto;
  align-items: end;
  width: 80%;
  border-radius: 5px; 
  margin-bottom: 1px;
  margin-top: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}

.camp1 {
  align-self: center;  
  display: flex;
  margin: auto;
  align-items: end;
  width: 80%;
  border-radius: 5px; 
  margin-bottom: 1px;
  margin-top: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}

.summit {
  
  align-self: center;  
  display: flex;
  margin: auto;
  align-items: end;
  width: 70%;
  border-radius: 5px; 
  margin-bottom: 1px;
  margin-top: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}

.spinnerhead {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  width: 44.8px;
  height: 44.8px;
  animation: spinner-y0fdc1 2.8s infinite ease;
  transform-style: preserve-3d;
  margin: auto;
  margin-top: 50%;
  margin-bottom: 50%;
}

.spinner > div {
 
  background-color: rgba(255,90,90,0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2.2px solid #ff5a5a;
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-22.4px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(22.4px);
}

@keyframes spinner-y0fdc1 {
  0% {
     transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}